
<h1>USERS <%= button_to "NEW USER", new_user_path, method: :get %></h1>

<br>
<br>
<ul id="users">
<% @users.each do |user|%>
<%=link_to user.username, user_path(user.id)%>
<br>
<%=user.name%>
<br>
<%=user.email%>
<br>
<br>
<%end%>
</ul>