// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
    text-align:center;
}

ul#users {
    // column-count: 3;
    
    display: center;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    // list-style: none;
    

}